#intro {
    position:absolute;
    margin : 0;
    padding : 0;
    width: 100%;
    height: 100%;
    background-image : url(images/background.jpg);
    height : 100vh;
}

#intro-div{
    border : 3px solid orange;
    background-color: white;
    margin : 3%;
    display : flex;
    flex-direction : column; 
    align-items : center;
    padding : 1.5%;
    width : 90%;
    height : 80%; 
}

#intro-div img{
    width : 50vh;
    height : 40vh;
}

.small-box {
    border : 4px solid orange;
    font-size : 1.5em;
    padding : 0.4em;
}

#two-characters {
    display : flex;
    flex-direction : row;
    height : 50%;
    margin-top : 5%;
    width : 60%;
}

#two-characters img {
    height : 20vh;
    width : 20vh;
}

.character-image-div {
    width : 50%;
    text-align : center;
}

#girl-button,
#boy-button {
    border : none;
    background-color : white;
}