#canvas-div {
    width : 600px;
    height : 600px;
}

#garden {
    /* width : 600px;
    height : 600px; */
    background-image: url("images/grass.jpg");
    background-repeat: repeat;
    border : 3px solid orange;
}

#canvas-timer {
    display : flex;
    flex-direction : column;
    align-items : center;
    height : 100vh;
    margin : 2%;
}

.timer {
    border : 3px solid orange;
    margin : 0.5em;
    padding : 0.3em 0.3em 1em 0.3em;
    height : 1.5vh;
    background-color : white;
    width : 20%;
    text-align : center;
    font-size : 1.8em;
}