#win {
    position:absolute;
    margin : 2%;
    width : 600px;
    height : 600px;
    background-color : white;
    border : 3px solid orange;
    font-size : 4em;

}

#win p {
    padding-left : 25%;
}

#win img {
    height : 50%;
    width : 50%;
    padding-left : 25%;
}
