.white-box {
    width : 90%;
    height : 350px;
    margin : 3%;
    background : white;
    display : flex;
    flex-direction : column;
    border : 3px solid orange;
}

.recipe-basket {
    display : flex;
    flex-direction : row;
}

.recipe-basket-columns {
    display : flex;
    flex-direction : column;
    width : 50%;
    align-items : center;
    padding-top : 2%;
}

.recipe-basket-columns-header {
    width : 100%;
    height : 10%;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.twoImages img {
    height : 100%;
    width : 20%;
    margin-bottom : 10%;
}

.twoImages{
    text-align : center;
    height : 2em;
    padding-bottom: 0.5em;
}

#recipe-ingredients {
    margin-top : 3em;
}

#picked-vg {
    width : 80%;
    padding-left : 2em;
}

#picked-vg img{
    height : 40px;
    width : 40px;
}