
/* Canvas  */
@import "canvas.css";
/* Intro page  */
@import "intro-page.css";
/* Success image  */
@import "message.css";
/* Recipe and basket container  */
@import "recipe-basket-container.css";

@font-face {
    font-family: Handlee;
    src: url(font/Handlee-Regular.ttf);
  }

body {
    background-image : url("images/background.jpg");
    font-family : Handlee;
    letter-spacing: 0.1em;
    margin : 0;
}

h1 {
    margin : 0;
    font-size : 1.2em;
}

#main-div {
    display : flex;
    flex-direction : row;
}

#right-part {
    display : flex;
    flex-direction : column;
    width : 100%;
    align-items : center;
    margin : 2%;
}

#game-name-image img{
    width : 150px;
    height : 150px;
    border : 3px solid orange;
}

#message {
    width : 90%;
    border : 3px solid orange; 
    height : 10%;
    background : white;
    margin-top : 3%;
    text-align : center;
}

#message-p {
    padding-top : 0.6em;
    font-size : 1.5em;
    margin : 0;
    font-weight : bold;
}

#new-recipe-button {
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    font-weight: bold;
    font-family: Handlee;
}

.hidden {
    display : none;
}
