#canvasDiv {
    width : 600px;
    height : 600px;
}

/* SETTING CANVAS BACKGROUND */

#garden {
    width : 600px;
    height : 600px;
    background-image: url("images/grass.png");
    background-repeat: repeat;
}